extends ../layout

block content
.container
  .page-header
    h1 About Us

    h3 Jon Engle
    p Penn State Harrisburg

    h3 Dustin Strunk
    p Penn State Harrisburg

    h3 Arthur Byra
    p Penn State Harrisburg

    h3 Shreya Jacob
    p Penn State Harrisburg

    h3 Jerald Swan 
    p Penn State Harrisburg