extends layout

block content
  .page-header
    h1 About Us

    h3 Jon Engel
    p Jonathan is a Computer Science student at Penn State Harrisburg. He works as a Programmer Analyst at Tait Towers when he is not at school. Jonathan was the Product Owner/Dev for the project. He oversaw the operations and administrative side of the project, as well as working with the devs to build the project. In his free time he likes to go camping/hiking with his dog Turbo, and his girlfriend Elizabeth.
    //img(src = "/image/jonengle")

    h3 Dustin Strunk
    p Dustin is a Computer Science student at Penn State Harrisburg. He works as a Programmer for Symantec when he is not at school.

    h3 Arthur Byra
    p Arthur Byra is a student at Penn State Harrisburg earning a bachelor's degree in Computer Science and a minor in Mathematics. Arthur was the Scrum Master for the project. He oversaw the operations and administrative side of the project, as well as working with the devs to build the project.

    h3 Shreya Jacob
    p Shreya is a Computer Science student at Penn State Harrisburg. She works as a Solutions Engineer at Deloitte Consulting LLC. Shreya was the front end analyst for the project. She oversaw the front end operations and the user interface of the project, as well as working with the devs to build the project. 

    h3 Gerald Swan 
    p Gerald is a Computer Science student at Penn State Harrisburg. He has previously worked for Computer Aid, Inc. Gerald is one of the developers for the project. He worked with the other developers primarily on the Android Wear part of the application. In his free time he likes to play video games.