extends layout

block content
  // .form-group
  .row
    .col-sm-6
      h1 MOODI
      p.lead Application to help autistic kids deal with everyday conversation.
      hr
    .col-sm-6
      img(src = '/images/communicationpic.png' height="175" width="175" align ="right")
  .row
    .col-sm-6
      h2 Problem
      p For students with developmental disabilities that affect social interactions, sometimes the tone (or mood) of a person that is speaking to them is lost. At a liberal arts school like Penn State, students are encouraged to work and communicate with others in discussions and groups. Those with this disabilities often become isolated and have trouble working in those groups.
      p
       // a.btn.btn-default(href='#', role='button') View details »
    
    .col-sm-6
      h2 Solution
      p Moodi is a mobile application for people that have trouble with social interactions. Using IBM’s Watson technology, Moodi takes speech, processes/analyses it, and lets the user know what the tone of the speech is. It will also be able to store those interactions for reference later by the user, or perhaps a parent or guardian for younger users. And have an easy interface to allow anyone to be able to use it.
        p 
        a(href='/aboutus') About Us
        p 
        a(href='https://speech-to-text-demo.ng.bluemix.net/?cm_mc_uid=11796135989715219162874&cm_mc_sid_50200000=35157901521916287477&cm_mc_sid_52640000=83339381521916287483') IBM Watson Speech-To-Text Demo
        p
        a(href='/https://tone-analyzer-demo.ng.bluemix.net/') IBM Watson Tone-Analyzer Demo 
    .col-sm-6
      h2 Goals
      p Moodi will start as an android application with support for android wear. Eventually, Moodi has the potential to have its own hardware (the Moodi ring/bracelet), and be a multi-platform application.
      p
       // a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Android watch
      p This app can be synced with your android watch for optimal and easy access to its features. 
      p
       // a.btn.btn-default(href='#', role='button') View details »