extends layout

block content
  h1 Moodi
  p.lead A unique project which helps special needs students to better understand the emotional world around them
  hr
  .row
    .col-sm-6
      h2 Dashboard
      p A web facing dashboard where users are able to see relevent information. Users can see recent recordings and informaiton about them, like where they took place and how our systems interpreted the emotions of the audio. It serves as a hub for statistics to monitor the overall mood of what a person is encountering of a time period.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Mobile App
      p The mobile app is an Android app that allows users to get the same feel and information as the web dashboard, but allows users to quickly record new sessions and get immediate feedback about what they are hearing.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Smart Watch App
      p When users need an even faster way to better understand what is being said around them the smart watch app will allow recordings at the press of a button. All that is required is some initial setup with the android app.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Future
      p Moodi is always exploring new ideas and ways to help. Some of our current ideas include standalone hardware that can be used for a more natural experience. For example, a 'mood bracelet'
      p
        a.btn.btn-default(href='#', role='button') View details »